.center {
  padding-left: 45%;
  padding-top: 20%;
}
#submit {
	font-size: 50px;
}
#adminPassLabel{
	font-size: 21px;
}

.commentSidebar {
  float: left;
  width: 25%;
  height: 700px;
  overflow-y: scroll;
}

.singleComment {
  background-color: rgb(200,200,200);
  width: 90%;
  height: 200px;
  margin: 5%;
}

.commentColumn {
  float: left;
  width: 50%;
}

.commentText {
  width: 100%;
  height: 100px;
  overflow-y: scroll;
}